<div class="box box-categories">

	<p class="box-categories-name">
		<span class="box-categories-name-span"><%- __(url.substring( url.indexOf('categories/') + 11 , url.lastIndexOf('/'))) %></span>
	</p>
	<% page.posts.sort('updated').reverse().each(function(page){ %>
	    <div class="box-categories-wrap">
		    <div class="box-categories-header"> 
		    	<a href="<%- url_for(page.path) %>">   
		        	<span><%= date(page.updated) %></span>
		        	<span class="box-categories-header-title"><%= page.title %></span>
		        </a>
		    </div>

		    <% if (page.tags && page.tags.length){ %>
		        <div class="post-footer">
		            <% if (page.tags && page.tags.length){ %>
		                <i class="fa fa-tags"></i>
		                <%- list_tags(page.tags, {style: 'none', show_count: false}) %>
		            <% } %>
		        </div>
		    <% } %>
	    </div>
	<% }) %>
</div>


<% if (page.total > 1){ %>
    <nav class="page-nav">
        <%- paginator({
            prev_text: __('prev'),
            next_text: __('next')
        }) %>
    </nav>
<% } %>