<header class="header">
    <div class="global-width">

        <a class="avatar" href="/">
            <img src="<%= theme.avatar %>" alt="head-sculpture" />
            <span><%= theme.author %></span>
        </a>

        <nav class="nav-box">
            <% theme.menu.forEach(function (item) {%>
                <a class="nav-item" href="<%- item.url%>"
                <% if (item.newTab) { %>
                   target="_blank"
                <% } %>
                ><%= __(item.name) %></a>
            <%})%>


            <% if (site.categories.length){ %>
                <%- list_categories({show_count: true}) %>
            <% } %>

        </nav>
    </div>
</header>
